{
    "printWidth": 80,
    "tabWidth": 4,
    "semi": true,
    "useTabs": true,
    "singleQuote": false,
    "quoteProps": "consistent",
    "jsxSingleQuote": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine:": true,
    "arrowParens": "always",
    "plugins": [
        "prettier-plugin-svelte",
        "prettier-plugin-tailwindcss"
    ],
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        }
    ],
    "tailwindStylesheet": "src/routes/layout.css"
}
